# hidden files
.*
!.github
!.gitkeep

# jekyll cache
_site
vendor

# rubygem
*.gem
# yard docs
doc

# npm dependencies
node_modules
package-lock.json

# programa
programa.md

# linkpreview cache
_cache/*.json
