<h2>Lecturas de la clase</h2>
<div class="row col-12">
  <ul>
    {% for it in include.lecturas %}
      {% if it.id %}
        {% assign url = '/articulos/' | append: it.id | append: '/' %}
        {% assign post = site.posts | where: 'url', url | first %}
      {% else %}
        {% assign post = it %}
      {% endif %}
      <li>
        {% if it.opcional %}
          <span class="badge badge-info">Opcional</span>
        {% endif %}
        <a href="{{ post.url }}">{{ post.title }}.</a>
        {{ post.summary }}
      </li>
    {% endfor %}
  </ul>
</div>
