<h2>Videos de la clase</h2>
<div class="row">
  {% for v in include.videos %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        {%- if v.id -%}
          <iframe class="post-content-video" src="https://www.youtube.com/embed/{{ v.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {%- else -%}
          <img class="post-content-video" src="/assets/img/trabajando.png">
        {%- endif -%}
        <div class="card-body">
            {% if v.opcional %}
              {% include opcional-badge.html %}
            {% endif %}
            <h5 class="card-title">{{ v.nombre }}</h5>
            {%- unless v.id -%}
              <h6 class="card-subtitle text-muted">:construction: Video en construcción...</h6>
            {%- endunless -%}
          <p class="card-text">{{ v.descripcion | markdownify }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
