---
title: Quiénes somos
icon: fas fa-info
order: 5
profes:
  - nombre: Federico Aloi
    cargo: Docente
    github: faloi
    instagram: surprograma
    youtube: UCfrRa43tBrOYYYfgJqsJ7qg
    bio: >
      Docente y programador egresado de UNQ. Estudio Educación en UNaHur y estoy construyendo una casa rodante para viajar por Latinoamérica. :earth_americas: :minibus:
---

<div class="card-deck">
  {% for p in page.profes %}
  <div class="col-md-4 p-0">
    <div class="card">
      {% assign foto = '/assets/img/profes/' | append: p.nombre | append: '.jpg' %}
      <img src="{{ foto | relative_url }}" class="card-img-top" alt="avatar">
      <div class="card-body">
        <h3 class="card-title">{{ p.nombre }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ p.cargo }}</h6>
        <p class="card-text">{{ p.bio | markdownify }}</p>
        {% if p.cargo == "Colaborador" %}
        <p class="card-text"><small class="text-muted">Programa 1 estudiante, 1 compañero/a</small></p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a class="img-hyperlink" href="{{ 'https://github.com/' | append: p.github }}">
          <i class="fab fa-2x fa-github"></i>
        </a>
        {% if p.instagram %}
          <a class="ml-2 img-hyperlink" href="{{ 'https://instagram.com/' | append: p.instagram }}">
            <i class="fab fa-2x fa-instagram"></i>
          </a>
        {% endif %}
        {% if p.youtube %}
          <a class="ml-2 img-hyperlink" href="{{ 'https://www.youtube.com/channel/' | append: p.youtube }}">
            <i class="fab fa-2x fa-youtube"></i>
          </a>
        {% endif %}
        {% if p.web %}
          <a class="ml-2 img-hyperlink" href="{{ p.web }}">
            <i class="fas fa-2x fa-globe"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
